name: "deploy"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".gitignore"
      - ".wakatime-project"
      - ".vscode"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Setup BunJS
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependancies
        run: bun ci

      - name: Build UI
        run: bun run build

      - name: Create .nojekyll
        run: touch .output/public/.nojekyll

      - name: Fix Routes Returning 404 because GH Pages
        run: cp .output/public/kaboom/index.html .output/public/404.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: .output/public/

  deploy:
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4